body,div,h1,section,form,input{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --background-color-dark_red: #8b0000;
    --background-color-dark_yellow: #e7d000;
    --background-color-dark_blue: #00008b; 
    --background-color-dark_green: #006400;

    --background-color-ligth_green: #04ff04;
    --background-color-ligth_red: #e90000;
    --background-color-ligth_blue: #6fb3d3;
    --background-color-ligth_yellow: #f8fcc9;
}

@keyframes brigthColorgreen {
    from{
        background-color: #006400;
    }
    to{
       box-shadow: 10px 10px 20px #04ff04;
        background-color: #04ff04;
    }
}

@keyframes brigthColorred {
   from {
    background-color: #8b0000;
   }
    
    to{
        box-shadow: 10px 10px 20px #e90000;
        background-color: #f14545;
    }
}

@keyframes brigthColoryellow {
    from {
        background-color: #e7d000;
       }
        
    to{
        box-shadow: 10px 10px 20px #f8fcc9;;
        background-color: #f8fcc9;
    }
}

@keyframes brigthColorblue {
    from {
    background-color: #00008b;
   }
    
    to{
        box-shadow: 10px 10px 20px #6fb3d3;
        background-color: #6fb3d3;
    }
}