body,div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes brigthColorgreen {
    from{
    }
    to{
        background-color: #04ff04;
    }
}

@keyframes brigthColorred {
    from{
    }
    to{
        background-color: #e90000;
    }
}

@keyframes brigthColoryellow {
    from{
    }
    to{
        background-color: #fff350;
    }
}

@keyframes brigthColorblue {
    from{
        
    }
    to{
        background-color: #05b0e9;
    }
}