body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #000;
}
section{
    display: flex;
    flex-wrap: wrap;
    width: 740px;
}

 button{
    color: #fff;
    background-image: linear-gradient(180deg,#008000,#ff0000ed);
    padding: 5px;
    border-radius: 15px;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
    
}


div{
    width: 45%;
    height: 225px;
    margin: 10px;
}

.center{
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 0%);
    width: 300px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center h1{
    text-align: center;
    margin-top: 15px;
}
.center form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

.center p {
    text-align: center;
    font-size: 1.5rem;
    width: 200px;
}
.center form input{
    margin: 10px;
}
.center form input[type="submit"]{
    width: 30%;
    padding: 5px;
}

.side{
    transform: rotateY(180deg);
}
.up{
    border-top-left-radius: 100%;
    
}
.down{
    border-bottom-left-radius: 100%;
}

.darkBlue{
    background-color: var(--background-color-dark_blue);
    /*transition: 0.5s background ;*/
}
.darkBlue:hover{
    cursor: pointer;
}
.darkRed{
    background-color: var(--background-color-dark_red);
    /*transition:  0.5s background ;*/
}
.darkRed:hover{
    cursor: pointer;
}

.darkGreen{
    background-color: var(--background-color-dark_green);
    /*transition: 0.5s background ;*/
}
.darkGreen:hover{
   cursor: pointer;
}

.darkYellow{
    background-color: var(--background-color-dark_yellow);
    /*transition:  0.5s background ;*/
}
.darkYellow:hover{
    cursor: pointer;
}


.ligthRed{
    background-color: var(--background-color-ligth_red);
}
.ligthBlue{
    background-color: var(--background-color-ligth_blue);
}
.ligthGreen{
    background-color: var(--background-color-ligth_green);
}
.ligthYellow{
    background-color: var(--background-color-ligth_yellow);
}

/* MEDIA QUERIES */
@media screen and (min-width: 320px){
    section{
        justify-content: center;
    }
    div{
        width: 35%;

    }
    form input{
        width: 150px;
    }
    .center{
        width: 200px;
    }
    .center h1{
        font-size: 1.2rem;
        margin-top: 25px;
    }
}
/* MEDIA QUERIES */